@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
  background-color: rgb(179, 172, 172);
  margin:0px;
  padding:0px;
  font-family: 'Dancing Script', cursive;
  
}
